*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  background-color: #321A4A;
  margin: 0 auto;
  padding: 0px;
  font-family: Inter;
}

.full {
  width: 1200px;
  height: 770px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ffffff;
  border-radius: 60px;
  margin-top: 50px;
}

.h1-full{
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
}

.h2-full {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: 150px;
  color: #ffffff;
}

table {
  width: 800px;
  height: 490px;
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}

th {
  font-weight: normal;
}

th, td {
  border: 1px solid white;
  height: 70px;
  vertical-align: middle;
}

.th-vce, .td-vce {
  width: 300px;
}

th:last-child, 
td:last-child:not(.td-last) {
  width: 200px;
}

.td-last {
  width: 800px;
  height: 70px;
}