body{
    width: 1920px;
    background-color: #321A4A;
    margin: 0 auto;
    padding: 0px;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sut{
    border: 1px solid #fff;
    width: 1200px;
    height: 1450px;
}